{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}


{% block body %}

<div class="contact">
    <div>
        <h1 style="color: orange;">Contact</h1>
        <p>Je suis disponible 7j/7j de 8h à 21h !</p>
        <p>
            <a href="mailto:jamstatt@gmail.com">Email : jamstatt@gmail.com</a>
        </p>
        <p>
            <a href="tel:07.64.05.62.66">Téléphone : 07.64.05.62.66</a>
        </p>
    </div>
</div>
{% endblock %}
