{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

<div class="bg">
    <div class="intro">
        <h1>AMS Dev</h1>
        <p>Développeur web et mobile Full Stack</p>
        <p><a href="#">HTML/CSS</a> / <a href="#">JavaScript</a> / <a href="#">PHP</a> / <a href="#">React</a> / <a href="#">Symfony</a></p>
        <div>
            <p>Le développement web à portée de main</p>
        </div>
    </div>
</div>
{% endblock %}